<!DOCTYPE html>
<html>
<head>
    <title>Travel Agent App</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-left">
        <a href="{% url 'agents:profile_list' %}">Travel Agent Profiles</a>
        </div>
        <div class="navbar-right">
        {% if user.is_authenticated %}
            <a href="{% url 'agents:profile_update' %}">Update profile</a>
            <a href="{% url 'agents:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'agents:login' %}">Login</a>
            <a href="{% url 'agents:signup' %}">Sign Up</a>
        {% endif %}
        </div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>