{% extends "base.html" %}

{% block content %}

<p>
    Introducing the app that connects digital nomads with specialized travel agents! Say goodbye to the hassle of
    planning your travels on your own. Our network of travel agents are specifically trained to cater to the unique
    needs of digital nomads, making your next trip stress-free and enjoyable.</p>

<p>
    We understand the importance of flexibility and affordability, that's why our service is completely free. From
    finding the perfect accommodation to booking flights and activities, our travel agents have got you covered.
    Simply create a profile, list your preferences, and let our agents take care of the rest.
</p>

<p>
    Say hello to seamless travel planning, and goodbye to the frustration of navigating the unknown. Join the app today
    and connect with your very own, personal travel agent. The future of travel is here, and it's completely free.
</p>

{% endblock %}
